$white:       #ffffff;
$black:       #000000;

$blue001:     #007ec1;
$blue002:     #0192de;
$blue003:     #05a2de;

$gray001:     #545e64;
$gray002:     #f0f0f0;
$gray003:     #666;

$orange001:   #f28b46;
$orange002:   #ff5a04;

$green001:    #07b488;


$main-title-color: $gray001;

$background-logo : #151e45;
