.filter-container {
  width: 100%;
  background: $white;
  padding: 10px 30px;
  box-shadow: 0px 10px 40px 3px rgba($black, .05);
  .row {
    width: 100%;
    align-items: center;
  }
  .col {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0;
    padding-right: 50px;
  }
}


.select-label {
  font-size: 12px;
  color: $gray001;
  margin-right: 10px;
}

.select,
.input {
  border: 1px solid $gray002;
  padding: 10px 20px;
  background: $white;
  font-size: 12px;
  margin: 0 10px;
  flex-grow: 1;
}

.select {
  border-radius: 5px;
  height: 35px;
  flex-grow: 1;
}

.option {
  color: $gray002
}

.input {
  border-radius: 20px;
  flex-grow: 1;
}

.button {
  flex-grow: 1;
  margin-left: 10px;
}


.select-label {
  font-size: 12px;
  color: $gray001;
  margin-right: 10px;
}

.select,
.input {
  border: 1px solid $gray002;
  padding: 10px 20px;
  background: $white;
  font-size: 12px;
  margin: 0 10px;
  flex-grow: 1;
}

.select {
  border-radius: 5px;
  height: 35px;
  flex-grow: 1;
}

.option {
  color: $gray002
}

.input {
  border-radius: 20px;
  flex-grow: 1;
}

.button {
  flex-grow: 1;
  margin-left: 10px;
}

.iconSelected {
  font-size: 25px;
  color: $blue001;
  margin-left: 5px;
}

.iconDiselected {
  font-size: 25px;
  margin-left: 5px;
}
