.aportes {
    width: 100%;
  }
  
  .details-row {
    padding: 0px 20px 0px 0px !important;
  }
  
  .modal-subtitle {
    margin-bottom: 10px;
  }
  
  .button-right {
    padding-left: 75px;
  }
  